server:
  url: http://localhost:5000
  mimetype: application/xml; charset=UTF-8
  encoding: UTF-8
  language: en-US
  maxrecords: 10
  #ogc_schemas_location: http://foo
  #pretty_print: true
  gzip_compresslevel: 9
  #domainquerytype: range
  #domaincounts: true
  #spatial_ranking: true
  #workers=2
  timeout: 30

logging:
  level: DEBUG
  logfile:

profiles:
  - apiso

manager:
  transactions: true
  allowed_ips: $ALLOWED_IPS

metadata:
  identification:
    title: pycsw Geospatial Catalogue
    description: pycsw is an OARec and OGC CSW server implementation written in Python
    keywords:
      - catalogue
      - discovery
      - metadata
    keywords_type: theme
    fees: None
    accessconstraints: None
    terms_of_service: https://creativecommons.org/licenses/by/4.0
    url: https://example.org
  license:
    name: CC-BY 4.0 license
    url: https://creativecommons.org/licenses/by/4.0
  provider:
    name: Organization Name
    url: https://pycsw.org
  contact:
    name: Lastname, Firstname
    position: Position Title
    address: Mailing Address
    city: City
    stateorprovince: Administrative Area
    postalcode: Zip or Postal Code
    country: Country
    phone: +xx-xxx-xxx-xxxx
    fax: +xx-xxx-xxx-xxxx
    email: you@example.org
    url: Contact URL
    hours: Mo-Fr 08:00-17:00
    instructions: During hours of service. Off on weekends.
    role: pointOfContact
  inspire:
    enabled: false

repository:
  database: sqlite:////home/pycsw/data/records.db
  table: records
  # facets:
  #   - type
  #   - title
